* {
    /*Padronização dos index*/
    margin: 0; /*m0 + enter*/
    padding: 0; /*p0 + enter*/
    box-sizing: border-box;
    background-color: #1d1b1b;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #dc143c;
    font-size: 50px;
    text-align: center;
    margin: 40px 0;
}

.cards {
    width: 80%; /*w80%*/
    /* height: 500px; h500px */
    margin: 40px auto; /*40px é o tamanho superior e inferior - O auto é do lado esquerdo e direito.*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; /*Espaçamento entre a letras.*/
    flex-wrap: wrap;
}

.card-item {
    width: 30%;
    padding: 25px;
    border: 3px solid #dc143c;
    border-radius: 5px; /*Espaçamento interno.*/
    color: whitesmoke;
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.card-item:hover {
    transform: scale(1.2);
}

.icons {
    font-size: 50px;
    color: #dc143c;
    margin-bottom: 30px 0; /*30px pra cima e pra baixo, e 0 dos lados.*/
    transition: .9s;
}

.icons:hover {
    transform: rotate(360deg);
}

.card-item h2 { /*Irá mudar o titulo de todos os h2.*/
    font-size: 30px;
    margin-bottom: 20px;
}

.card-item p {
    font-size: 16px; /*Normalmente, sempre é 16px.*/
    font-weight: 500;
    margin-bottom: 30px;
}

.btn {
    color: #ece1e3;
    text-decoration: none;
    background-color: #dc143c;
    padding: 15px 28px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #2d2a2a;
    color: #dc143c;
}

@media (max-width: 900px) {
    
    .card-item {
        width: 80%;
    }
}